<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-4 text-center">LISTA DE TAREFAS </h2>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>IdTarefa</th>
            <th>Nome da Tarefa</th>
            <th>Data de Início</th>
            <th>Data de Conclusão</th>
            <th>Apagar Tarefa</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tarefa in Model)
        {
            <tr>
                <td>@tarefa.TarefaId</td>
                <td>@tarefa.NomeTarefa</td>
                <td>@tarefa.DataInicio</td>
                <td>@tarefa.DataConclusao</td>
                <td>
                <a asp-action="Delete" asp-route-id="@tarefa.TarefaId" class="btn btn-danger">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <a href="/tarefa/TarefaAFazer" class="btn btn-primary"> TAREFAS PENDENTES</a> |
    <a href="/tarefa/TarefaConcluida" class="btn btn-primary">TAREFAS CONCLUÍDAS</a>
</div>